<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h2>All Cab Bookings</h2>
<table border="1">
	<tr>
		<th>CBid</th>
		<th>CName</th>
		<th>TripId</th>
	</tr>
	<tr th:each="cabbooking: ${cabbookings}">
		<td th:text="${cabbooking.cbid}"></td>
		<td th:text="${cabbooking.cname}"></td>
		<td th:text="${cabbooking.tripid}"></td>
	</tr>
</table>
</body>
</html>